<div class="row mb-3">
  <div class="col-md-8 offset-md-2">   
    <h1>
      Edit roaster review #<%= @roaster_review.id %>
    </h1>
  </div>
</div>

<hr>
<div class="row mb-3">
  <div class="col-md-8 offset-md-2">   
    <form action="/update_roaster_review/<%= @roaster_review.id %>" method="post">
    
      <div class="form-group">
        <label for="body">
          Body
        </label>
    
        <input type="text" id="body" name="body" class="form-control" value="<%= @roaster_review.body %>">
      </div>
    
      <input type="hidden" name="user_id" value="<%= current_user.id %>">
    
      <div class="form-group">
        <label for="roaster_id">
          Roaster
        </label>
    
        <%= select_tag("roaster_id", options_from_collection_for_select(Roaster.all, :id, :roaster_name, @roaster_review.try(:roaster_id)), :class => "form-control") %>
      </div>
    
      <button class="btn btn-block btn-outline-secondary">
        Update roaster review
      </button>
    </form>
    
    <hr>
    
    <a href="/roaster_reviews">
      Go back
    </a>
  </div>
</div>