<div class="container">
  <div class="row mb-3">
    <div class="col-md-8 offset-md-2">
      <h1>
        All beans
      </h1>
  
      <a href="/beans/new" class="btn btn-block btn-outline-secondary">
        Add a new bean
      </a>
    </div>
  </div>
  
  
  <hr>
       <div class="row mb-3">
        <% @beans.each do |bean| %>
        <div class="card col-md-3 p-2 border-0">
          <img class="card-img" src="<%= bean.image_url %>" alt="<%= bean.country_of_origin %>">
          <div class="card-img-overlay">
            <a href="/beans/<%= bean.id %>"><h6 class="card-title m-0" style="line-height: 1.05"><%= bean.country_of_origin %></h6></a>
            <div>
              <% if FavoriteBean.where(user_id: current_user, bean_id: bean.id).exists? %>
                <% @current_favorite = FavoriteBean.find_by(user_id: current_user, bean_id: bean.id).id %>
                  <a href="/delete_favorite_bean/<%= @current_favorite %>">
                    <button class="btn btn-link pull-right text-danger m-0" style="line-height: 1.05">
                      <i class="fas fa-heart-broken"></i>
                      <small>Make this bean not a favorite :(</small>
                    </button>
                  </a>
                <% else %>
                    <form action="/create_favorite_bean" method="post">
                      <input type="hidden" id="user_id" name="user_id" value="<%= current_user.id %>">
                      <input type="hidden" id="bean_id" name="bean_id" value="<%= bean.id %>">
                          <button class="btn btn-link pull-right m-0" style="line-height: 1.05">
                            <i class="fas fa-dharmachakra"></i>
                            <small>Make this bean a favorite of mine!</small>
                          </button>
                    </form>
                <% end %>
            </div>
            <p class="card-text m-0 p-0" style="line-height: 1.05"><%= bean.processing_type %> process</p>
            
            <div style="position: relative; margin-top: 85%">
              
              <a href="/roasters/<%= bean.roaster_id %>" class="card-link font-weight-bold">
                <div class="mb-1 bg-transparent rounded">By <%= @roasters.find(bean.roaster_id).roaster_name %></div>
              </a>
              
              <button class="btn btn-outline-secondary btn-block btn-sm">
                <a href="/beans/<%= bean.id %>">Bean info</a>
              </button>
            
  
              <button class="btn btn-outline-secondary btn-block btn-sm">
                <a href="/reviews/new">Review bean</a>
              </button>
            </div>
            
          </div>
        </div>
        <% end %>
      </div>


</div>