<div class="container">
  <div class="row mb-3">
    <div class="col-md-8 offset-md-2">
      <h1>
        All beans
      </h1>
  
      <a href="/beans/new" class="btn btn-block btn-outline-secondary">
        Add a new bean
      </a>
    </div>
  </div>
  
  
  <hr>
       <div class="row mb-3">
        <% @beans.each do |bean| %>
        <div class="card col-md-3 p-2 border-0">
          <img class="card-img" src="<%= bean.image_url %>" alt="<%= bean.country_of_origin %>">
          <div class="card-img-overlay">
            <a href="/beans/<%= bean.id %>"><h6 class="card-title"><%= bean.country_of_origin %></h6></a>
            <p class="card-text p-0"><%= bean.processing_type %> process</p>
            
            <div style="position: relative; margin-top: 90%">
              
              <a href="/roasters/<%= bean.roaster_id %>" class="card-link font-weight-bold">
                By <%= @roasters.find(bean.roaster_id).roaster_name %>
              </a>
              
              <button class="btn btn-outline-secondary btn-block btn-sm">
                <a href="/beans/<%= bean.id %>">Bean info</a>
              </button>
            
  
              <button class="btn btn-outline-secondary btn-block btn-sm">
                <a href="">Review bean</a>
              </button>
            </div>
            
          </div>
        </div>
        <% end %>
      </div>


</div>