<div class="row mb-3">
  <div class="col-md-6 offset-md-3">
    <h1>
      <%= @bean.country_of_origin.titlecase %> details
    </h1>
    <div class="row mt-3 px-3">
      <div class="card-deck col-12">
          <div class="card border-0">
            <div class="card-body">
              <p><a class="font-weight-bold">Processing type: </a><%= @bean.processing_type %></p>
              <p><a class="font-weight-bold">Flavor profiles: </a><%= @bean.flavor_profiles %></p>
              <p><a class="font-weight-bold">Price: </a>$<%= @bean.price.to_f.round %></p> </br>
              <p><a class="font-weight-bold">Elevation: </a><%= @bean.elevation %></p>
              <p><a class="font-weight-bold">Roast profile: </a><%= @bean.roast_profile %></p>
              <p><a class="font-weight-bold">Harvest season: </a><%= @bean.harvest_season %></p>
              <p><a class="font-weight-bold">Cultivar: </a><%= @bean.cultivar %></p>
              <p><a class="font-weight-bold">Acidity: </a><%= @bean.acidity %></p>
            </div>
          </div>
      
          <div class="card border-0">
            <div class="card-body">
              <img src="<%= @bean.image_url %>" class="img-thumbnail rounded mx-auto d-block">
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  
</div>  
  

<div class="container">
  <div class="row mb-3">
    <div class="col">
      <a href="/beans" class="btn btn-block btn-outline-secondary">
        Go back
      </a>
    </div>

    <div class="col">
      <a href="/beans/<%= @bean.id %>/edit" class="btn btn-block btn-outline-secondary">
        Edit bean
      </a>
    </div>

    <div class="col">
      <a href="/delete_bean/<%= @bean.id %>" class="btn btn-block btn-outline-secondary">
        Delete bean
      </a>
    </div>
  </div>
</div>

