<div class="row mb-3">
  <div class="col-md-6 offset-md-3">
    <h1>
      <%= @bean.country_of_origin.titlecase %> details
    </h1>
    <div class="row mt-3 px-3">
      <div class="card-deck col-12">
          <div class="card border-0">
            <div class="card-body">
              <p><a class="font-weight-bold">Processing type: </a><%= @bean.processing_type %></p>
              <p><a class="font-weight-bold">Flavor profiles: </a><%= @bean.flavor_profiles %></p>
              <p><a class="font-weight-bold">Price: </a>$<%= @bean.price %>0</p> </br>
              <p><a class="font-weight-bold">Elevation: </a><%= @bean.elevation %></p>
              <p><a class="font-weight-bold">Roast profile: </a><%= @bean.roast_profile %></p>
              <p><a class="font-weight-bold">Harvest season: </a><%= @bean.harvest_season %></p>
              <p><a class="font-weight-bold">Cultivar: </a><%= @bean.cultivar %></p>
              <p><a class="font-weight-bold">Acidity: </a><%= @bean.acidity %></p>
            </div>
          </div>
      
          <div class="card border-0">
            <div class="card-body">
              <img src="<%= @bean.image_url %>" class="img-thumbnail rounded mx-auto d-block">
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="card border-primary my-3">
    <div class="card-header font-weight-bold bg-primary text-white">
      Bean reviews
    </div>
    <div class="card-body">
      <div class="media-body">
          <form action="/create_review" method="post" class="pt-4">

            <input type="hidden" name="beans_id" value="<%= @bean.id %>">

            <input type="hidden" name="user_id" value="<%= current_user.id %>">
            <!-- Label and input for star rating -->

            <!-- Label and input for body -->
            <div class="form-group">
              <label for="body" class="sr-only">
                Body
              </label>

              <div class="input-group">
                <input type="text" id="body" name="body" class="form-control" placeholder="Add a review..." required>

                <span class="input-group-append">
                  <button class="btn btn-primary" type="submit">
                    <i class="far fa-edit"></i>

                    Add Review
                  </button>
                </span>
              </div> <!-- input-group -->
            </div>  <!-- form-group -->
          </form>
        </div> <!-- media-body -->
        </div> <!--card-body-->
        <% @reviews.reverse.each do |review| %>
        <% if review.beans_id == @bean.id then %>
        <div class="card-body m-3 p-0 border border-success rounded">
          <div class="card-header bg-transparent p-3">
            <span class="font-italic">
              <a href="/users/<%= review.user_id %>">
                <%= User.find(review.user_id).email %>
              </a>
            </span>
            <span>
              Created <%= time_ago_in_words(review.created_at) %> ago
            </span>
          </div>
          <div class="card-body bg-transparent p-3">
            <%= review.body %>
          </div>
          <% if review.user_id == current_user.id %>
          <div class="btn-group d-flex" role="group">
              <a href="/reviews/<%= review.id %>/edit" class="btn btn-warning w-100 btn-sm">
                <i class="fas fa-edit"></i>
  
                Edit Bean Review
              </a>
  
              <a href="/delete_review/<%= review.id %>" class="btn btn-danger w-100 btn-sm" rel="nofollow">
                <i class="fas fa-trash"></i>
  
                Delete Bean Review
              </a>
          </div>
          <% else %>
          <% end %>
        </div>
        <% else %>
        <% end %>
        <% end %>
  </div>

</div>  
  

<div class="container">
  <div class="row mb-3">
    <div class="col">
      <a href="/beans" class="btn btn-block btn-outline-secondary">
        Go back
      </a>
    </div>

    <div class="col">
      <a href="/beans/<%= @bean.id %>/edit" class="btn btn-block btn-outline-secondary">
        Edit bean
      </a>
    </div>

    <div class="col">
      <a href="/delete_bean/<%= @bean.id %>" class="btn btn-block btn-outline-secondary">
        Delete bean
      </a>
    </div>
  </div>
</div>

