<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Edit  <%= @roaster.roaster_name %>
    </h1>
  </div>
</div>

<hr>
<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <form action="/update_roaster/<%= @roaster.id %>" method="post">
    
      <div class="form-group">
        <label for="roaster_name">
          Roaster name
        </label>
    
        <input type="text" id="roaster_name" name="roaster_name" class="form-control" value="<%= @roaster.roaster_name %>">
      </div>
    
      <div class="form-group">
        <label for="roaster_location">
          Roaster location
        </label>
    
        <input type="text" id="roaster_location" name="roaster_location" class="form-control" value="<%= @roaster.roaster_location %>">
      </div>
    
      <div class="form-group">
        <label for="shipping_options">
          Shipping options
        </label>
    
        <input type="text" id="shipping_options" name="shipping_options" class="form-control" value="<%= @roaster.shipping_options %>">
      </div>
    
      <div class="form-group">
        <label for="roaster_description">
          Roaster description
        </label>
    
        <input type="text" id="roaster_description" name="roaster_description" class="form-control" value="<%= @roaster.roaster_description %>">
      </div>
      
      <div class="form-group">
        <label for="image_url">
          Roaster logo image link
        </label>
    
        <input type="text" id="image_url" name="image_url" class="form-control" value="<%= @roaster.image_url %>">
      </div>
      
      <div class="form-group">
        <label for="website_url">
          Roaster website link
        </label>
    
        <input type="text" id="website_url" name="website_url" class="form-control" value="<%= @roaster.website_url %>">
      </div>
    
      <button class="btn btn-block btn-outline-secondary">
        Update roaster
      </button>
    </form>
    
    <hr>
    
    <a href="/roasters">
      Go back
    </a>
  </div>
</div>