<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Edit review #<%= @review.id %>
    </h1>
  </div>
</div>

<hr>
<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <form action="/update_review/<%= @review.id %>" method="post">
    
      <div class="form-group">
        <label for="body">
          Body
        </label>
    
        <input type="text" id="body" name="body" class="form-control" value="<%= @review.body %>">
      </div>
    
      <input type="hidden" name="user_id" value="<%= current_user.id %>">
    
      <div class="form-group">
        <label for="beans_id">
          Beans
        </label>
    
        <%= select_tag("beans_id", options_from_collection_for_select(Bean.all, :id, :country_of_origin, @review.try(:bean_id)), :class => "form-control") %>
      </div>
    
      <button class="btn btn-block btn-outline-secondary">
        Update review
      </button>
    </form>
    
    <hr>
    
    <a href="/reviews">
      Go back
    </a>
  </div>
</div>